<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page </title>
</head>
<body>
    <h1>Detail for <%= fruit.name %> </h1>
    <p>Color: <%= fruit.color %> </p>
    <p> Ready to eat: <%= fruit.readyToEat === true? 'yes' : 'no' %> </p>


</body>
</html>